<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css">
  <title></title>
</head>
<body>
 <div id="terminal"></div>
  <script>
    const term = new Terminal()
    term.open(document.getElementById('terminal'))
    term.write
  </script>
</body>
</html>
